
// Typo
$default-font-family: 'Roboto', sans-serif;
$default-font-size: 14px;

// variables
$gun-powder-blue: #403b5a;
$white: #fff;
$iron-grey: #d8d8d8;
$aluminium-grey: #abaeb9;
$cloud-burst-blue: #233356;
$dark: #151d33;
$platinum: #e7e3e3;
$davy-grey: #4d5664;
$dark-lilac: #a9679a;
$blue-zodiac: #192A44;
$alabaster: #FAFBFB;
$dawn-pink: #ece9e9;
$oslo-grey: #8a898b;
$desert-storm: #F6F7F8;
$paris-green: #49cc99;
$star-dust: #9B9B9B;
$black: #000;